
<div style="width: 78%;"  class="container-fluid pt-5">
<div class="title">
  <img src="https://i.ibb.co/D4qr5jd/El-aroma-ma-gico.png" alt="El-aroma-magico">
</div>
<hr>
<img src="https://i.ibb.co/442C6dF/image-1.jpg" alt="Imagen1">
<hr>
  <div class="container-fluid2 align-items-center p-3 "></div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <table class="col-3 table table-striped">
    <thead style="background-color:#333A40">
      <tr>
        <th><p class="header" id="headerId">#</p></th>
        <th><p class="header" id="headerNombre">Nombre</p></th>
        <th><p class="header" id="headerTipo">Tipo</p></th>
        <th><p class="header" id="headerRegion">Región</p></th>
      </tr>
    </thead>
    <tbody *ngFor="let cafe of cafes">
      <div *ngIf="calculateCafe(cafe)"></div>
      <tr>
          <td><p class="idCafe">{{cafe.id }}</p></td>
          <td><p class="nombreCafe">{{cafe.nombre }}</p></td>
          <td><p class="tipoCafe">{{cafe.tipo }}</p></td>
          <td><p class="regionCafe">{{cafe.region }}</p></td>
      </tr>
    </tbody>
  </table>
  <p class="calculo">Total café de origen: {{contadorOrigen}}</p>
  <p class="calculo">Total café de blend: {{contadorBlend}} </p>

  <p class="footer">Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</p>
